/*distintos sizings hechos en un map para poder llamarlos en el main*/
$sizing:(
    widthLarge: 300px,
    heightLarge: 300px,
    heightMedium: 200px,
    widthMedium: 250px,
    widthShort: 150px,
    heightShort: 150px,
    fontShort: 24px,
    fontMedium: 30px,
)
